<div class="pos-a w100 z-depth-2" style="background-color: #d81b60;" id="menu-app">
    <div class="container">
        <div class="menu">
            <div class="menu-icon icon-th-menu open-menu-left" data-menu=".menu-left"></div>
            <div class="logo">SFree<span class="hub">Games</span></div>
            <div class="item-menu menu-movil">
                <li><a href="/">Inicio</a></li>
                <li><a href="/games">Juegos</a></li>
            </div>
        </div>
    </div>
</div>

<div class="menu-left">
    <div class="body-menu grey lighten-5 z-depth-2">
        <div class="menu-list">
            <li><a href="/">Inicio</a></li>
            <li><a href="/games">Juegos</a></li>
        </div>
    </div>
</div>