<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SFree | Inicio</title>

  <!-- Iconos -->
  <link rel="stylesheet" href="/lib/icomoon/icomoon.css">

  <!-- Roboto -->
  <link rel="stylesheet" href="/lib/roboto/roboto.css">

  <!-- Materializecss -->
  <link rel="stylesheet" href="/lib/materialize/css/materialize.min.css">

  <!-- Owl -->
  <link rel="stylesheet" href="/lib/owl/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="/lib/owl/assets/owl.theme.default.min.css">

  <!-- app css -->
  <link rel="stylesheet" href="/css/sfree.css">

</head>

<body>

  <!-- Menu -->
  <%- include('../include/menu.ejs') %>

  <div class="body">
    <div class="container h100">
      <div class="views-list h100">
        <div class="view-right py-home id-home">
          <div class="z-depth-2 b-radius-2 sprt3" id="carousel-news"></div>

          <div class="sprt3">
            <div class="title-pagination">Estrenos</div>
            <div class="view-art owl-estrenos" data-owl="carousel-1" data-selector=".owl-estrenos">
              <% for( let a = 0; a < 0; a++ ) { %>
              <div class="item">
                <div class="cover-art">
                    <div class="by_info_home"></div>
                  <div class="name-art">Nombre del Juego</div>
                </div>
              </div>
              <% } %>

            </div>
          </div>

          <div class="sprt3">
            <div class="title-pagination">Juegos Excelentes</div>
            <div class="view-art owl-excelentes" data-owl="carousel-2" data-selector=".owl-excelentes">
              <% for( let a = 0; a < 0; a++ ) { %>
              <div class="item">
                <div class="cover-art">
                  <div class="name-art">Nombre del Juego</div>
                </div>
              </div>
              <% } %>

            </div>
          </div>

          <div class="sprt3">
            <div class="title-pagination">Recomendados</div>
            <div class="view-art owl-recomendados" data-owl="carousel-3" data-selector=".owl-recomendados">
              <% for( let a = 0; a < 0; a++ ) { %>
              <div class="item">
                <div class="cover-art">
                  <div class="name-art">Nombre del Juego</div>
                </div>
              </div>
              <% } %>

            </div>
          </div>

        </div>
        <div class="view-left">
          <div class="sprt2">
            <div class="tags-genres z-depth-1">
              <div class="header-title">Generos</div>
              <div class="tags-list" id="genres-scroll-infinite"></div>
            </div>
          </div>

          <div class="sprt2">
            <div class="tags-genres z-depth-1">
              <div class="header-title">Tags</div>
              <div class="tags-list" id="tags-scroll-infinite"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- jquery -->
  <script src="/lib/jQuery/jquery.min.js"></script>
  <!-- materialize -->
  <script src="/lib/materialize/js/materialize.min.js"></script>
  <script src="/lib/materialize/js/init.js"></script>

  <!-- progressbar -->
  <script src="/lib/progressbar/progressbar.min.js"></script>

  <!-- pagination -->
  <!-- <script src="/js/pagination.materialize.js"></script> -->

  <!-- Owl -->
  <script src="/lib/owl/owl.carousel.min.js"></script>
  <script src="/js/owl.js"></script>

  <!-- pagination -->
  <script src="/lib/paginations/pagination.min.js"></script>

  <!-- infiniteScroll -->
  <script src="/js/infinitescroll.js"></script>

  <!-- util codes -->
  <script src="/js/code.util.kit.js"></script>

  <!-- App -->
  <script src="/js/sfree.js"></script>



</body>

</html>