<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SFree | Loading</title>

  <!-- Iconos -->
  <link rel="stylesheet" href="/lib/icomoon/icomoon.css">

  <!-- Roboto -->
  <link rel="stylesheet" href="/lib/roboto/roboto.css">

  <!-- Materializecss -->
  <link rel="stylesheet" href="/lib/materialize/css/materialize.min.css">

  <!-- Loading -->
  <link rel="stylesheet" href="/css/loading.css">
</head>

<body>

  <div class="loading-page">
    <div class="loading-info">
      <!-- <h3 class="logo-text">TorrentHive</h3> -->
      <div class="logo-holder logo-6">
        <a href="#">
          <h3>SFree <span>Games</span></h3>
        </a>
      </div>

      <div class="precarga-download"></div>
      <div class="precarga"></div>
      

    </div>
  </div>




  <!-- jquery -->
  <script src="/lib/jQuery/jquery.min.js"></script>
  <!-- materialize -->
  <script src="/lib/materialize/js/materialize.min.js"></script>
  <script src="/lib/materialize/js/init.js"></script>

  <!-- progressbar -->
  <script src="/lib/progressbar/progressbar.min.js"></script>

  <!-- cache -->
  <script src="/js/cache.js"></script>

  <!-- util Code -->
  <script src="/js/code.util.kit.js"></script>

  <!-- loading -->
  <script src="/js/loading.js"></script>

</body>

</html>